.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.details {
	border: 1px solid var(--grey);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
