.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.details {
	border: 1px solid var(--grey);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding: 25px;
	gap: 30px;
	.content {
		p {
			margin-bottom: 8px;
			font-size: large;
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
