<div class="container">
  <div
    *ngIf="creditCard$ | async as creditCard; else notFound"
    class="content-wrapper"
  >
    <div class="details">
      <div class="content" style="grid-column: 1/1; grid-row: 1/1">
        <p>Cardholder's name:</p>
        <div>{{ creditCard.cardholder_name }}</div>
      </div>
      <div class="content" style="grid-column: 2/2; grid-row: 1/1">
        <p>Card number:</p>
        <div>{{ creditCard.card_number }}</div>
      </div>
      <div class="content" style="grid-column: 1/1; grid-row: 2/2">
        <p>Issuer:</p>
        <div>{{ creditCard.issuer }}</div>
      </div>
      <div class="content" style="grid-column: 2/2; grid-row: 2/2">
        <p>Expires:</p>
        <div>
          {{ creditCard.expiration_date_month }} /
          {{ creditCard.expiration_date_year }}
        </div>
      </div>
      <div class="content" style="grid-column: 1/1; grid-row: 3/3">
        <p>CSC:</p>
        <div>{{ creditCard.csc_code }}</div>
      </div>
      <div class="content" style="grid-column: 1/2 span; grid-row: 4/4">
        <div class="center">
          <button mat-raised-button color="primary" routerLink="..">
            Back
          </button>
          <button mat-raised-button class="deleteButton" (click)="delete()">
            Delete
          </button>
        </div>
      </div>
    </div>
    <h1 style="margin-top: 30px">Transactions for this credit card</h1>
    <app-card-transactions
      style="width: 100%"
      [cardNumber]="creditCard.card_number"
    ></app-card-transactions>
  </div>
  <ng-template #notFound> Card not found. Go Back. </ng-template>
</div>
