<div class="routing-container">
  <div
    [ngClass]="{
      activated:
        'credit-cards' === currentRoute ||
        currentRoute?.includes('credit-cards')
    }"
    class="route"
    routerLink="credit-cards"
  >
    Credit cards
  </div>
  <div
    [ngClass]="{ activated: 'add-card' === currentRoute }"
    class="route"
    routerLink="add-card"
  >
    Add card
  </div>
  <div
    [ngClass]="{ activated: 'transaction-screen' === currentRoute }"
    class="route"
    routerLink="transaction-screen"
  >
    Transactions
  </div>
</div>
