<p>transaction-add works!</p>
<div class="container">
  <form>
    <div class="input-container">
      <p>Card number:</p>
      <input type="text" />
    </div>
    <div class="input-container">
      <p>Amount</p>
      <input type="text" />
    </div>
    <div class="input-container">
      <p>Currency</p>
      <input type="text" />
    </div>
    <div class="input-container">
      <p>Date</p>
      <input type="date" />
    </div>
    <button type="submit">Add transaction</button>
  </form>
</div>
