@import "../../../mixins/table.scss";
@include table-with-header;

.loading {
	display: flex;
	width: 100%;
	padding: 50px;
	justify-content: center;
	align-items: center;
}

table {
	.credit-card {
		&:hover {
			background: var(--grey-hover);
		}
	}
}
