.container {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	display: grid;
	gap: 30px;

	.input-container {
		display: flex;
		flex-direction: column;
		gap: 5px;

		input {
			padding: 10px 5px;
			border-radius: 5px;
			border: 1px solid black;
			&.error {
				border: 1px solid var(--error);
			}
		}

		.error-info {
			font-size: 11px;
			color: var(--error);
			font-weight: bold;
		}
	}
}
