.container {
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.input-container-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

	.input-container {
		display: flex;
		flex-direction: column;
		gap: 5px;

		input {
			width: 150px;
			padding: 10px 5px;
			border-radius: 5px;
			border: 1px solid black;
			&.error {
				border: 1px solid var(--error);
			}
		}

		.error-info {
			font-size: 11px;
			color: var(--error);
			font-weight: bold;
		}
	}
}
