.transaction-item-container {
  border: 1px solid black;
  width: 95;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  background: rgb(2, 0, 36);
  background: radial-gradient(center, #020024 0%, #0c00ee 100%);
  color: aliceblue;
  margin: 5px;
  padding: 10px;
}
.transaction-item-container div {
  margin: 5px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.transaction-item-container button {
  margin: 5px;
  color: aliceblue;
  margin-left: auto;
  background-color: var(--error);
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 90%;
  }
  &:active {
    opacity: 75%;
  }
}
