@import "../../../mixins/table.scss";
@include table-with-header;

.transaction-List {
  display: flex;
  flex-flow: column;
}

.loading {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
  font-size: larger;
  margin-bottom: 20px;

  .mat-select {
    width: 240px;
  }

  .clear-filters {
    color: #34a8eb;
    font-size: medium;
    cursor: pointer;
  }
}

table {
  width: 100%;

  .delete {
    border-radius: 5px;
    background-color: var(--error);
    color: white;
    padding: 5px 10px;
    width: fit-content;
  }
}
